<!DOCTYPE html>
<html>
<head>
  <title>DMB Stream Holiday Contest</title>
  <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="fb:app_id" content="257982467594856" />
  <meta property="fb:admins" content="688950931" />
  <meta property="og:image" content="<%= image_path("monkey.png") %>">

  <script src='http://connect.facebook.net/en_US/all.js'></script>
</head>
<body>
	<div id='fb-root'></div>
	    
	    <p><a onclick='addToPage(); return false;'>Add to page</a></p>
	<p id='msg'></p>
	<script> 
	      FB.init({appId: "257982467594856", status: true, cookie: true});

	      function addToPage() {

	        // calling the API ...
	        var obj = {
	          method: 'pagetab',
	          redirect_uri: 'http://dmbstream-holidaycontest.herokuapp.com',
	        };

	        FB.ui(obj);
	      }

	    </script>
	
<h1 class="reduced center">Happy Holidays</h1>

<%= yield %>

  <footer>
    <p class="disclaimer1">
      Winners will be announced on or after December 25, 2011.  
      This contest is not affiliated with Facebook. You must like DMBStream on Facebook to view 
      the contest entry form.
    </p>
    <p class="disclaimer2">Tree image by <a href="http://minercia.deviantart.com/">minercia</a></p>
  </footer>
</body>
</html>
